<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Combiplay</title>

  <!-- Bootstrap core CSS -->
  <link href="static/styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/styles/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Combiplay</a>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Create the Ultimate Playlist.</h1>
      <p class="lead">Combine songs from the Spotify playlists of you and your friends. Great for parties, road trips and hangouts. Never fight over the aux cord again!</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Let's make a playlist!</h2>
          <p class="lead">Input some Spotify information to create your playlist.</p>
          <form method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Name of New Playlist</span>
                </div>
                <input type="text" class="form-control" id="new-playlist" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Your Spotify Username</span>
                </div>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Spotify Usernames of 2 Guests</span>
                </div>
                <input type="text" aria-label="First name" class="form-control" id="first-guest">
                <input type="text" aria-label="Last name" class="form-control" id="second-guest">
            </div>
            <p></p>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="top-40-selection">Would you like Top 40 hits mixed into your playlist?</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
            </div>
            <div style="text-align:center">
                <button type="submit" class="btn btn-primary" href="" style="width: 151px;height: 49px;">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services we offer</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/styles/vendor/jquery/jquery.min.js"></script>
  <script src="static/styles/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/styles/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/styles/js/scrolling-nav.js"></script>

</body>

</html>
